<a href="https://colab.research.google.com/github/ragini-dwivedi/Yelp-Dataset/blob/main/Yathukulan/relabel_users_and_reviews.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import csv
import os

from sklearn.preprocessing import LabelEncoder

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
cd '/content/drive/Shareddrives/Yelp_dataset/restuarant_reviews/by_city/'

/content/drive/Shareddrives/Yelp_dataset/restuarant_reviews/by_city

In [ ]:
ls

hashed_reviews_ph.csv                    reviews_allcities.csv  reviews_tr.csv
modelinput_phoenix_restaurant_stars.csv  reviews_lv.csv
modelinput_reviews_lv.csv                reviews_ph.csv

In [ ]:
#os.path.split('/content/drive/Shareddrives/Yelp_dataset/restuarant_reviews/by_city/reviews_ph.csv')

('/content/drive/Shareddrives/Yelp_dataset/restuarant_reviews/by_city',
 'reviews_ph.csv')

In [ ]:
#encodes labels and saves them in the same destination
def encode_labels(filepath):

  df = pd.read_csv(filepath)
  df.drop(columns='review_id',inplace=True)

  encoder_1 = LabelEncoder()
  encoder_2 = LabelEncoder()

  df['user_id'] = encoder_1.fit_transform(df['user_id'].values)
  df['business_id'] = encoder_2.fit_transform(df['business_id'].values)

  directory, filename = os.path.split(filepath)
  savepath = directory + '/modelinput_' + filename
  df.to_csv(savepath,index=False)

  print(filename,'saved at',directory)

In [ ]:
%%time
encode_labels('/content/drive/Shareddrives/Yelp_dataset/restuarant_reviews/by_city/reviews_tr.csv')
encode_labels('/content/drive/Shareddrives/Yelp_dataset/restuarant_reviews/by_city/reviews_lv.csv')
encode_labels('/content/drive/Shareddrives/Yelp_dataset/restuarant_reviews/by_city/reviews_ph.csv')
encode_labels('/content/drive/Shareddrives/Yelp_dataset/restuarant_reviews/by_city/reviews_allcities.csv')

reviews_tr.csv saved at /content/drive/Shareddrives/Yelp_dataset/restuarant_reviews/by_city
reviews_lv.csv saved at /content/drive/Shareddrives/Yelp_dataset/restuarant_reviews/by_city
reviews_ph.csv saved at /content/drive/Shareddrives/Yelp_dataset/restuarant_reviews/by_city
reviews_allcities.csv saved at /content/drive/Shareddrives/Yelp_dataset/restuarant_reviews/by_city
CPU times: user 38.5 s, sys: 2.42 s, total: 40.9 s
Wall time: 45.4 s

In [ ]:
ls

hashed_reviews_ph.csv                    modelinput_reviews_tr.csv
modelinput_phoenix_restaurant_stars.csv  reviews_allcities.csv
modelinput_reviews_allcities.csv         reviews_lv.csv
modelinput_reviews_lv.csv                reviews_ph.csv
modelinput_reviews_ph.csv                reviews_tr.csv

In [ ]:
testload = pd.read_csv('modelinput_reviews_lv.csv')
testload

         user_id  business_id  stars
0         441468          656      1
1          30979         4455      1
2         238639         4455      5
3           1879         3776      4
4         177039         2846      4
...          ...          ...    ...
1503938    24984         1121      5
1503939    74182         1215      1
1503940    25740         4586      4
1503941   329568         1961      5
1503942   248737         5230      5

[1503943 rows x 3 columns]

In [ ]:
testload2 = pd.read_csv('reviews_lv.csv')
testload2

                      review_id  ... stars
0        i6g_oA9Yf9Y31qt0wibXpw  ...     1
1        bVTjZgRNq8ToxzvtiVrqMA  ...     1
2        TeX0eOIeZb_wpo86rCedXQ  ...     5
3        XvLG7ReC8JZmBltOLJzfcA  ...     4
4        WGbtqQMeJwTVg6DFb156EQ  ...     4
...                         ...  ...   ...
1503938  bifI5vnJ_LT0eAMD_O3cbw  ...     5
1503939  T34JvlaKD1qcQARVOOHm4w  ...     1
1503940  SkiPC10TBymnU-y8ScdQ_w  ...     4
1503941  cPX3OKqbv3-9ZYZTp_UKyA  ...     5
1503942  EcY_p50zPIQ2R6rf6-5CjA  ...     5

[1503943 rows x 4 columns]