In [1]:
import pandas as pd
import numpy as np

In [2]:
%%time
#business = pd.read_json('yelp_academic_dataset_business.json', lines=True)
#checkin = pd.read_json('yelp_academic_dataset_checkin.json', lines=True)
review = pd.read_json('yelp_academic_dataset_review.json', lines=True)
#tip = pd.read_json('yelp_academic_dataset_tip.json', lines=True)
#user = pd.read_json('yelp_academic_dataset_user.json', lines=True)

Wall time: 5min 28s

In [3]:
review.dtypes

review_id              object
user_id                object
business_id            object
stars                   int64
useful                  int64
funny                   int64
cool                    int64
text                   object
date           datetime64[ns]
dtype: object

In [4]:
review

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,xQY8N_XvtGbearJ5X4QryQ,OwjRMXRC0KyPrIlcjaXeFQ,-MhfebM0QIsKt87iDN-FNw,2,5,0,0,"As someone who has worked with many museums, I...",2015-04-15 05:21:16
1,UmFMZ8PyXZTY2QcwzsfQYA,nIJD_7ZXHq-FX8byPMOkMQ,lbrU8StCq3yDfr-QMnGrmQ,1,1,1,0,I am actually horrified this place is still in...,2013-12-07 03:16:52
2,LG2ZaYiOgpr2DK_90pYjNw,V34qejxNsCbcgD8C0HVk-Q,HQl28KMwrEKHqhFrrDqVNQ,5,1,0,0,I love Deagan's. I do. I really do. The atmosp...,2015-12-05 03:18:11
3,i6g_oA9Yf9Y31qt0wibXpw,ofKDkJKXSKZXu5xJNGiiBQ,5JxlZaqCnk1MnbgRirs40Q,1,0,0,0,"Dismal, lukewarm, defrosted-tasting ""TexMex"" g...",2011-05-27 05:30:52
4,6TdNDKywdbjoTkizeMce8A,UgMW8bLE0QMJDCkQ1Ax5Mg,IS4cv902ykd8wj1TR0N3-A,4,0,0,0,"Oh happy day, finally have a Canes near my cas...",2017-01-14 21:56:57
...,...,...,...,...,...,...,...,...,...
8021117,LAzw2u1ucY722ryLEXHdgg,6DMFD3BRp-MVzDQelRx5UQ,XW2kaXdahICaJ27A0dhGHg,1,1,0,1,"Fricken unbelievable, I ordered 2 space heater...",2019-12-11 01:07:06
8021118,gMDU14Fa_DVIcPvsKtubJA,_g6P8H3-qfbz1FxbffS68g,IsoLzudHC50oJLiEWpwV-w,3,1,3,1,Solid American food with a southern comfort fl...,2019-12-10 04:15:00
8021119,EcY_p50zPIQ2R6rf6-5CjA,Scmyz7MK4TbXXYcaLZxIxQ,kDCyqlYcstqnoqnfBRS5Og,5,15,6,13,I'm honestly not sure how I have never been to...,2019-06-06 15:01:53
8021120,-z_MM0pAf9RtZbyPlphTlA,lBuAACBEThaQHQGMzAlKpg,VKVDDHKtsdrnigeIf9S8RA,3,2,0,0,Food was decent but I will say the service too...,2018-07-05 18:45:21
8021121,nK0JGgr8aO4mcFPU4pDOEA,fiA6ztHPONUkmX6yKIXyHg,2SbyRgHWuWNlq18eHAx95Q,5,2,0,2,"Oh yeah! Not only that the service was good, t...",2019-12-07 00:29:55

In [9]:
# drpcols= ['text','date','useful','funny','cool']
# review.drop[drpcols, inplace=True, axis=1]

review.drop(['text','date','useful','funny','cool'],axis=1, inplace=True)

In [11]:
review.drop(['funny','cool'],axis=1, inplace=True)

In [12]:
review.dtypes

review_id      object
user_id        object
business_id    object
stars           int64
dtype: object

In [16]:
review.set_index('review_id',inplace=True)
review

                                       user_id             business_id  stars
review_id
xQY8N_XvtGbearJ5X4QryQ  OwjRMXRC0KyPrIlcjaXeFQ  -MhfebM0QIsKt87iDN-FNw      2
UmFMZ8PyXZTY2QcwzsfQYA  nIJD_7ZXHq-FX8byPMOkMQ  lbrU8StCq3yDfr-QMnGrmQ      1
LG2ZaYiOgpr2DK_90pYjNw  V34qejxNsCbcgD8C0HVk-Q  HQl28KMwrEKHqhFrrDqVNQ      5
i6g_oA9Yf9Y31qt0wibXpw  ofKDkJKXSKZXu5xJNGiiBQ  5JxlZaqCnk1MnbgRirs40Q      1
6TdNDKywdbjoTkizeMce8A  UgMW8bLE0QMJDCkQ1Ax5Mg  IS4cv902ykd8wj1TR0N3-A      4
...                                        ...                     ...    ...
LAzw2u1ucY722ryLEXHdgg  6DMFD3BRp-MVzDQelRx5UQ  XW2kaXdahICaJ27A0dhGHg      1
gMDU14Fa_DVIcPvsKtubJA  _g6P8H3-qfbz1FxbffS68g  IsoLzudHC50oJLiEWpwV-w      3
EcY_p50zPIQ2R6rf6-5CjA  Scmyz7MK4TbXXYcaLZxIxQ  kDCyqlYcstqnoqnfBRS5Og      5
-z_MM0pAf9RtZbyPlphTlA  lBuAACBEThaQHQGMzAlKpg  VKVDDHKtsdrnigeIf9S8RA      3
nK0JGgr8aO4mcFPU4pDOEA  fiA6ztHPONUkmX6yKIXyHg  2SbyRgHWuWNlq18eHAx95Q      5

[8021122 rows x 3 columns]

In [17]:
review.to_csv('starsonly.csv')

In [19]:
# r_df = review.pivot(index = 'user_id', columns ='business_id', values = 'stars').fillna(0)
# r_df.head()

ValueError: Unstacked DataFrame is too big, causing int32 overflow